# Dependencies
node_modules/
functions/node_modules/
functions/lib/

# Next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# Production
build/
dist/

# Env
.env
.env.local
.env.*.local

# Firebase
.firebase/
.firebaserc
firebase-debug.log
ui-debug.log
firestore-debug.log
pubsub-debug.log

# Misc
.DS_Store
*.pem
npm-debug.log*
.vscode/
.idea/
coverage/
